<div>
    <maps></maps>
    <div class='row'  style="position: 'relative'; top:'20px'; z-index: '100'">
        <div class="col-md-6 offset-md-3">
            <h4>Forecast by city</h4>
            <div class="form-group ">
                <div class="input-icons">
                    <input type="search" class="form-control" placeholder="city.." ng-model='city'/>
                    <locate-me-icon ng-click="location()"></locate-me-icon>
                </div>
                <div id='newCitySuggestion' ng-model="newCitySuggestion"  ng-repeat="data in newCitySuggestion"  ng-click="itemClicked(data)"> <a href="#!/forecast">{{data.place_name}}</a> </div>
                <geo-coder ng-model="autocomplete"></geo-coder>
            </div>
            <a href="#!/forecast" class="btn btn-primary"> Get Weather Forecast</a>
        </div>
    </div>
</div>